PORT=2500
DATABASE_URL="file:./dev.db"
JWT_SECRET="jwt-key"

# SMTP settings for email confirmations (e.g. Gmail, Mailtrap, etc.)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_AUTH_USER=your_smtp_user
SMTP_AUTH_PASS=your_smtp_password
SENDER_EMAIL=noreply@eventbooking.com

# Google OAuth (get from https://console.cloud.google.com/)
BASE_URL=http://localhost:2500
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
