DATABASE_URL=file:./dev.db

JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=7d

PORT=2000
BASE_URL=http://localhost:2000

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_AUTH_USER=user@example.com
SMTP_AUTH_PASS=xkeysib-...
SENDER_EMAIL=noreply@library.com
